body {
  background-color: #FFFFEO; /* warna kuning cerah */
font-family: Arial, sans-serf; /* Jenis hurf yang bersih dan mudah
  color:  #000099; /*warna teks utama (Briru gelap) */
}
  .kartu {
    width: 300px;
    margin: 50px auto; /* 50px jarak atas/bawah auto menengehkan 
padding: 20px;
background-color: white
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    .kartu-profil img {
      width: 150px
      broder-radius; 50%;
